# === Ignore build files ===
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.lib
*.dll
*.log
*.tlog
*.pch
*.ipch
*.aps
*.ncb
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# === Ignore temporary / output folders ===
/bin/
/build/
/Debug/
/Release/
/x64/
/x86/
/out/
/dist/

# === Ignore IDE specific ===
.vscode/
.idea/
*.code-workspace
